In [17]:
import pandas as pd
import numpy as np

In [34]:
exampledat = pd.read_csv("/mnt/data1tb/Dropbox/phenology/testdat.csv")
df_model = exampledat
target_var = "value"
threshold = 0.7

In [35]:
# Calculate the correlation matrix
corr_matrix = df_model.drop(target_var, 1).corr()
iters = range(len(corr_matrix.columns) - 1)
drop_cols = []
dropped_feature = ""

In [45]:
for i in iters:
    for j in range(i+1): 
        item = corr_matrix.iloc[j:(j+1), (i+1):(i+2)]
        col = item.columns
        row = item.index
        val = abs(item.values)

0
0
1
0
1
2
0
1
2
3
0
1
2
3
4
0
1
2
3
4
5
0
1
2
3
4
5
6
0
1
2
3
4
5
6
7
0
1
2
3
4
5
6
7
8
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9
10
11
0
1
2
3
4
5
6
7
8
9
10
11
12
0
1
2
3
4
5
6
7
8
9
10
11
12
13
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17

In [83]:
        item = corr_matrix.iloc[j:(j+1), (i+1):(i+2)]
        col = item.columns
        row = item.index
        val = abs(item.values)

In [85]:
i=0

In [86]:
range(i+1)

range(0, 1)

In [88]:
    for j in range(i+1): 
        # use iloc for row 0 and column 1. since this is provided as range
        item = corr_matrix.iloc[j:(j+1), (i+1):(i+2)]
        col = item.columns
        row = item.index
        val = abs(item.values)
        print(val)

[[0.7494715]]

In [94]:
corr_matrix.iloc[j:(j+1), (i+1):(i+2)]

          bio2
bio1  0.749471

In [96]:
i+2

2

In [66]:
corr_matrix.index

Index(['bio1', 'bio2', 'bio3', 'bio4', 'bio5', 'bio6', 'bio7', 'bio8', 'bio9',
       'bio10', 'bio11', 'bio12', 'bio13', 'bio14', 'bio15', 'bio16', 'bio17',
       'bio18', 'bio19'],
      dtype='object')

In [59]:
corr_matrix.iloc[j:(j+1), (i+1):(i+2)]

          bio18
bio17  0.056862

In [ ]:
# from 16 to 17 (should include 2??)
#

In [64]:
item.index

Index(['bio18'], dtype='object')

In [21]:
exampledat

,value,bio1,bio2,bio3,bio4,bio5,bio6,bio7,bio8,bio9,bio10,bio11,bio12,bio13,bio14,bio15,bio16,bio17,bio18,bio19
0,30.986471,-8.720834,94.083333,14.519033,182.307028,254.0,-394.0,648.0,94.333336,-293.833344,94.333336,-293.833344,192.0,36.0,4.0,57.934458,81.0,17.0,81.0,17.0
1,23.813186,-10.266666,96.666667,15.417331,185.352067,236.0,-391.0,627.0,-229.500000,-306.333344,88.833336,-306.333344,162.0,43.0,1.0,83.923790,75.0,10.0,54.0,10.0
2,36.244743,-10.979166,95.416667,17.038690,173.592850,187.0,-373.0,560.0,88.000000,-6.500000,88.000000,-302.333344,118.0,20.0,3.0,46.281874,36.0,22.0,36.0,30.0
3,27.619371,-10.750000,96.500000,17.903525,158.735498,168.0,-371.0,539.0,-213.500000,-278.833344,75.666664,-278.833344,197.0,60.0,2.0,86.425577,92.0,18.0,64.0,18.0
4,18.473205,-10.841666,96.666667,17.261905,169.183928,179.0,-381.0,560.0,-205.166672,-295.833344,79.166664,-295.833344,333.0,103.0,3.0,92.693368,144.0,32.0,124.0,32.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15852,87.055186,12.945833,120.583333,37.564901,72.282852,297.0,-24.0,321.0,43.166668,215.500000,215.500000,43.166668,487.0,89.0,4.0,63.088706,175.0,47.0,47.0,175.0
15853,74.070225,13.341667,117.000000,34.925373,75.956356,308.0,-27.0,335.0,99.333336,217.333328,217.333328,49.500000,498.0,83.0,0.0,68.602797,229.0,58.0,58.0,134.0
15854,83.827315,13.241667,118.333333,35.858586,71.207102,300.0,-30.0,330.0,42.166668,219.666672,219.666672,42.166668,463.0,62.0,1.0,45.032460,158.0,59.0,59.0,158.0
15855,67.921901,13.170833,118.083333,37.847222,64.374380,299.0,-13.0,312.0,99.000000,209.833328,209.833328,66.666664,582.0,100.0,8.0,57.899732,213.0,72.0,72.0,134.0
15856,83.337840,12.554166,112.583333,38.163842,69.911092,289.0,-6.0,295.0,106.000000,211.333328,211.333328,43.000000,548.0,85.0,3.0,54.948956,219.0,55.0,55.0,145.0

In [24]:
x_simple = np.array([-2, -1, 0, 1, 2])
y_simple = np.array([4, 1, 3, 2, 0])
my_rho = np.corrcoef(x_simple, y_simple)

print(my_rho)

[[ 1.  -0.7]
 [-0.7  1. ]]

In [30]:
np.corrcoef(exampledat['value'],exampledat['bio19'])

array([[1.        , 0.57132469],
       [0.57132469, 1.        ]])

In [31]:
remove_collinear_features(df_model = exampledat,target_var="value",threshold = 0.8,verbose=True)

bio3 | bio1 | 0.95
bio3: 0.61
bio1: 0.582
dropped: bio1
-----------------------------------------------------------------------------
bio3 | bio2 | 0.86
bio3: 0.61
bio2: 0.524
dropped: bio2
-----------------------------------------------------------------------------
bio4 | bio1 | 0.96
bio4: -0.605
bio1: 0.582
dropped: bio4
-----------------------------------------------------------------------------
bio4 | bio3 | 0.97
bio4: -0.605
bio3: 0.61
dropped: bio4
-----------------------------------------------------------------------------
bio6 | bio1 | 0.98
bio6: 0.592
bio1: 0.582
dropped: bio1
-----------------------------------------------------------------------------
bio6 | bio3 | 0.96
bio6: 0.592
bio3: 0.61
dropped: bio6
-----------------------------------------------------------------------------
bio6 | bio4 | 0.98
bio6: 0.592
bio4: -0.605
dropped: bio4
-----------------------------------------------------------------------------
bio7 | bio1 | 0.93
bio7: -0.567
bio1: 0.582
dropped: bio7
-----------------------------------------------------------------------------
bio7 | bio3 | 0.93
bio7: -0.567
bio3: 0.61
dropped: bio7
-----------------------------------------------------------------------------
bio7 | bio4 | 0.97
bio7: -0.567
bio4: -0.605
dropped: bio4
-----------------------------------------------------------------------------
bio7 | bio6 | 0.97
bio7: -0.567
bio6: 0.592
dropped: bio7
-----------------------------------------------------------------------------
bio9 | bio1 | 0.88
bio9: 0.541
bio1: 0.582
dropped: bio9
-----------------------------------------------------------------------------
bio9 | bio3 | 0.87
bio9: 0.541
bio3: 0.61
dropped: bio9
-----------------------------------------------------------------------------
bio9 | bio4 | 0.88
bio9: 0.541
bio4: -0.605
dropped: bio4
-----------------------------------------------------------------------------
bio9 | bio6 | 0.89
bio9: 0.541
bio6: 0.592
dropped: bio9
-----------------------------------------------------------------------------
bio9 | bio7 | 0.87
bio9: 0.541
bio7: -0.567
dropped: bio7
-----------------------------------------------------------------------------
bio10 | bio1 | 0.9
bio10: 0.48
bio1: 0.582
dropped: bio10
-----------------------------------------------------------------------------
bio10 | bio3 | 0.8
bio10: 0.48
bio3: 0.61
dropped: bio10
-----------------------------------------------------------------------------
bio10 | bio5 | 0.82
bio10: 0.48
bio5: 0.414
dropped: bio5
-----------------------------------------------------------------------------
bio10 | bio6 | 0.85
bio10: 0.48
bio6: 0.592
dropped: bio10
-----------------------------------------------------------------------------
bio11 | bio1 | 0.99
bio11: 0.6
bio1: 0.582
dropped: bio1
-----------------------------------------------------------------------------
bio11 | bio3 | 0.97
bio11: 0.6
bio3: 0.61
dropped: bio11
-----------------------------------------------------------------------------
bio11 | bio4 | 0.99
bio11: 0.6
bio4: -0.605
dropped: bio4
-----------------------------------------------------------------------------
bio11 | bio6 | 0.99
bio11: 0.6
bio6: 0.592
dropped: bio6
-----------------------------------------------------------------------------
bio11 | bio7 | 0.96
bio11: 0.6
bio7: -0.567
dropped: bio7
-----------------------------------------------------------------------------
bio11 | bio9 | 0.9
bio11: 0.6
bio9: 0.541
dropped: bio9
-----------------------------------------------------------------------------
bio11 | bio10 | 0.85
bio11: 0.6
bio10: 0.48
dropped: bio10
-----------------------------------------------------------------------------
bio12 | bio1 | 0.83
bio12: 0.544
bio1: 0.582
dropped: bio12
-----------------------------------------------------------------------------
bio12 | bio3 | 0.82
bio12: 0.544
bio3: 0.61
dropped: bio12
-----------------------------------------------------------------------------
bio12 | bio4 | 0.85
bio12: 0.544
bio4: -0.605
dropped: bio4
-----------------------------------------------------------------------------
bio12 | bio6 | 0.84
bio12: 0.544
bio6: 0.592
dropped: bio12
-----------------------------------------------------------------------------
bio12 | bio7 | 0.83
bio12: 0.544
bio7: -0.567
dropped: bio7
-----------------------------------------------------------------------------
bio12 | bio11 | 0.85
bio12: 0.544
bio11: 0.6
dropped: bio12
-----------------------------------------------------------------------------
bio13 | bio12 | 0.89
bio13: 0.436
bio12: 0.544
dropped: bio13
-----------------------------------------------------------------------------
bio16 | bio12 | 0.95
bio16: 0.485
bio12: 0.544
dropped: bio16
-----------------------------------------------------------------------------
bio16 | bio13 | 0.93
bio16: 0.485
bio13: 0.436
dropped: bio13
-----------------------------------------------------------------------------
bio19 | bio1 | 0.84
bio19: 0.571
bio1: 0.582
dropped: bio19
-----------------------------------------------------------------------------
bio19 | bio3 | 0.83
bio19: 0.571
bio3: 0.61
dropped: bio19
-----------------------------------------------------------------------------
bio19 | bio4 | 0.86
bio19: 0.571
bio4: -0.605
dropped: bio4
-----------------------------------------------------------------------------
bio19 | bio6 | 0.86
bio19: 0.571
bio6: 0.592
dropped: bio19
-----------------------------------------------------------------------------
bio19 | bio7 | 0.84
bio19: 0.571
bio7: -0.567
dropped: bio7
-----------------------------------------------------------------------------
bio19 | bio9 | 0.81
bio19: 0.571
bio9: 0.541
dropped: bio9
-----------------------------------------------------------------------------
bio19 | bio11 | 0.85
bio19: 0.571
bio11: 0.6
dropped: bio19
-----------------------------------------------------------------------------
bio19 | bio12 | 0.95
bio19: 0.571
bio12: 0.544
dropped: bio12
-----------------------------------------------------------------------------
bio19 | bio13 | 0.82
bio19: 0.571
bio13: 0.436
dropped: bio13
-----------------------------------------------------------------------------
bio19 | bio16 | 0.88
bio19: 0.571
bio16: 0.485
dropped: bio16
-----------------------------------------------------------------------------
dropped columns:
['bio12', 'bio2', 'bio4', 'bio10', 'bio7', 'bio1', 'bio6', 'bio16', 'bio19', 'bio9', 'bio13', 'bio5', 'bio11']
-----------------------------------------------------------------------------
used columns:
['value', 'bio3', 'bio8', 'bio14', 'bio15', 'bio17', 'bio18']

           value       bio3        bio8  bio14      bio15  bio17  bio18
0      30.986471  14.519033   94.333336    4.0  57.934458   17.0   81.0
1      23.813186  15.417331 -229.500000    1.0  83.923790   10.0   54.0
2      36.244743  17.038690   88.000000    3.0  46.281874   22.0   36.0
3      27.619371  17.903525 -213.500000    2.0  86.425577   18.0   64.0
4      18.473205  17.261905 -205.166672    3.0  92.693368   32.0  124.0
...          ...        ...         ...    ...        ...    ...    ...
15852  87.055186  37.564901   43.166668    4.0  63.088706   47.0   47.0
15853  74.070225  34.925373   99.333336    0.0  68.602797   58.0   58.0
15854  83.827315  35.858586   42.166668    1.0  45.032460   59.0   59.0
15855  67.921901  37.847222   99.000000    8.0  57.899732   72.0   72.0
15856  83.337840  38.163842  106.000000    3.0  54.948956   55.0   55.0

[15857 rows x 7 columns]

In [15]:
def remove_collinear_features(df_model, target_var, threshold, verbose):
    '''
    Objective:
        Remove collinear features in a dataframe with a correlation coefficient
        greater than the threshold and which have the least correlation with the target (dependent) variable. Removing collinear features can help a model 
        to generalize and improves the interpretability of the model.

    Inputs: 
        df_model: features dataframe
        target_var: target (dependent) variable
        threshold: features with correlations greater than this value are removed
        verbose: set to "True" for the log printing

    Output: 
        dataframe that contains only the non-highly-collinear features
    '''

    # Calculate the correlation matrix
    corr_matrix = df_model.drop(target_var, 1).corr()
    iters = range(len(corr_matrix.columns) - 1)
    drop_cols = []
    dropped_feature = ""

    # Iterate through the correlation matrix and compare correlations
    for i in iters:
        for j in range(i+1): 
            item = corr_matrix.iloc[j:(j+1), (i+1):(i+2)]
            col = item.columns
            row = item.index
            val = abs(item.values)

            # If correlation exceeds the threshold
            if val >= threshold:
                # Print the correlated features and the correlation value
                if verbose:
                    print(col.values[0], "|", row.values[0], "|", round(val[0][0], 2))
                col_value_corr = df_model[col.values[0]].corr(df_model[target_var])
                row_value_corr = df_model[row.values[0]].corr(df_model[target_var])
                if verbose:
                    print("{}: {}".format(col.values[0], np.round(col_value_corr, 3)))
                    print("{}: {}".format(row.values[0], np.round(row_value_corr, 3)))
                if col_value_corr < row_value_corr:
                    drop_cols.append(col.values[0])
                    dropped_feature = "dropped: " + col.values[0]
                else:
                    drop_cols.append(row.values[0])
                    dropped_feature = "dropped: " + row.values[0]
                if verbose:
                    print(dropped_feature)
                    print("-----------------------------------------------------------------------------")

    # Drop one of each pair of correlated columns
    drops = set(drop_cols)
    df_model = df_model.drop(columns=drops)

    print("dropped columns: ")
    print(list(drops))
    print("-----------------------------------------------------------------------------")
    print("used columns: ")
    print(df_model.columns.tolist())

    return df_model